<section id="about" >
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Contents</h2>
                <hr class="primary">
                <br />
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary"></i>
                    <h3>Conferences</h3>
                    <p class="text-muted">Talks will be about Free Software and Security.<br><b>All the talks shall be given in English</b> so as to open the conference to non-French speaking speakers in the most comfortable manner.<br>
Have a look at the <a href="/schedule/">schedule</a>! <br /><b>28 talks</b>, grouped in <b>8 sessions</b>, are waiting for you to attend :)</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-desktop wow bounceIn text-primary"></i>
                    <h3>Workshops</h3>
                    <p class="text-muted">For this first edition, Pass the SALT hosts <b>5 workshops</b> to discover new security-related free software projects.<br>Network security, theat intel and IAM are on the agenda this year. <br>Enjoy and practice!</p>
                </div>
            </div>
<!--            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Up to Date</h3>
                    <p class="text-muted">We update dependencies to keep things fresh.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Made with Love</h3>
                    <p class="text-muted">You have to make your websites with love these days!</p>
                </div>
            </div> -->
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-comments wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Networking</h3>
                    <p class="text-muted">Exchange experiences, create new relationships with approachable attendees or speakers. People have very different profiles: hackitivists, professional security reversers, Free Software enthusiasts, etc. All of that in a warm and open-minded ambiance :)</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">The team</h2>
                <hr class="primary">
                <br />
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-user-circle-o wow bounceIn text-primary"></i>
                    <!--<h3>Conferences</h3> -->
                    <p class="text-muted">Pass the SALT has been brought to you by a small but enthusiast and dedicated team:<br />
                            core team : <a href="https://twitter.com/cbrocas">@cbrocas</a>, <a href="https://twitter.com/doegox">@doegox</a>, <a href="https://twitter.com/follc">@follc</a> and <a href="https://twitter.com/moutane">@moutane</a> <br />
                            on-site volunteers: &Eacute;lo&iuml;se, <a href="https://twitter.com/cervoise">@acervoise</a>, <a href="https://twitter.com/cdpointpoint">@cdpointpoint</a> and <a href="https://twitter.com/sebdraven">@Sebdraven</a><br />
                            remote support: kolter<br />
                            local Polytech contacts: Benjamin Richez, Julien Cartigny<br />
                            video team: <a href="https://twitter.com/ubicast_video">@ubicast_video</a><br /></p>
                </div>
            </div>
        </div>
    </div>
</section>