<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Contenu</h2>
                <hr class="primary">
                <br />
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary"></i>
                    <h3>Conf&eacute;rences</h3>
                    <p class="text-muted">Les conf&eacute;rences ont trait aux Logiciels Libres et &agrave; la S&eacute;curit&eacute;.<br>Elles sont donn&eacute;es <b>en langue anglaise</b> afin de permettre la venue de conf&eacute;renciers.i&egrave;res &eacute;trangers.&egrave;res de mani&egrave;re la plus confortable possible.<br>
                    Jetez un coup d'&oelig;il au contenu du <a href="/programme/">programme</a>.<br /> <b>28 conf&eacute;rences</b> regroup&eacute;es dans <b>8 sessions</b> vous y attendent !</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-desktop wow bounceIn text-primary"></i>
                    <h3>Ateliers</h3>
                    <p class="text-muted">Pour cette premi&egrave;re &eacute;dition, Pass the SALT vous propose <b>5 ateliers</b> afin que vous puissez d&eacute;couvrir de nouveaux logiciels libres li&eacute;s &agrave; la s&eacute;curit&eacute;.<br>S&eacute;curit&eacute; r&eacute;seau, theat intel et IAM sont au menu cette ann&eacute;e. <br>Profitez-en bien !</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-comments wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Rencontres</h3>
                    <p class="text-muted">&Eacute;changez des exp&eacute;riences, faites de nouvelles rencontres avec des conf&eacute;renciers et un public venant d'univers aussi diff&eacute;rents que l'hacktivisme, le milieu professionnel de la S&eacute;curit&eacute;, le reverse ou le militantisme du Logiciel Libre. Le tout dans une atmosph&egrave;re chaleureuse et ouverte :).<br><br>
                </div>
            </div>

        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">L'&eacute;quipe</h2>
                <hr class="primary">
                <br />
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-user-circle-o wow bounceIn text-primary"></i>
                    <!--<h3>Conferences</h3> -->
                    <p class="text-muted">Pass the SALT est con&ccedil;ue et fabriqu&eacute;e par une petite &eacute;quipe tr&egrave;s motiv&eacute;e :</p>
                        <p>
                            core team : <a href="https://twitter.com/cbrocas">@cbrocas</a>, <a href="https://twitter.com/doegox">@doegox</a>, <a href="https://twitter.com/follc">@follc</a> et <a href="https://twitter.com/moutane">@moutane</a> <br />
                            volontaires sur site : &Eacute;lo&iuml;se, <a href="https://twitter.com/cervoise">@acervoise</a>, <a href="https://twitter.com/cdpointpoint">@cdpointpoint</a> et <a href="https://twitter.com/sebdraven">@Sebdraven</a><br />
                            contacts locaux &agrave; Polytech : Benjamin Richez, Julien Cartigny<br />
                            support distant: kolter<br />
                            &eacute;quipe vid&eacute;o : <a href="https://twitter.com/ubicast_video">@ubicast_video</a><br />
                        </p>
                </div>
            </div>
        </div>
    </div>

</section>