<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% if page.title %}{{ site.title }} | {{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

    <!-- Twitter cards -->
    <meta name="twitter:site"    content="@{{ site.twitter_username }}">
    <meta name="twitter:creator" content="@{{ site.twitter_username }}">
    {% if page.title %}
    <meta name="twitter:title"   content="{{ site.title }} | {{ page.title }}">
    {% else %}
    <meta name="twitter:title"   content="{{ site.title }}">
    {% endif %}
    {% if page.summary %}
    <meta name="twitter:description" content="{{ page.summary }}">
    {% else %}
    <meta name="twitter:description" content="{{ site.description }}">
    {% endif %}
    <meta name="twitter:card"  content="summary">
    {% if page.image %}
    <meta name="twitter:image" content="{{ site.url }}{{ page.image }}">
    {% else %}
    <meta name="twitter:image" content="{{ site.url }}{{ site.title_image }}">
    {% endif %}
    <!-- end of Twitter cards -->

    <!-- Open graph -->
    {% if page.title %}
    <meta property="og:title"   content="{{ site.title }} | {{ page.title }}">
    {% else %}
    <meta property="og:title"   content="{{ site.title }}">
    {% endif %}
    <meta property="og:author" content="@{{ site.twitter_username }}">
    {% if page.summary %}
    <meta property="og:description" content="{{ page.summary }}">
    {% else %}
    <meta property="og:description" content="{{ site.description }}">
    {% endif %}
    {% if page.image %}
    <meta property="og:image" content="{{ site.url }}{{ page.image }}">
    {% else %}
    <meta property="og:image" content="{{ site.url }}{{ site.title_image_og }}">
    {% endif %}
    <!-- end of Open graph -->

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css" type="text/css">

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="/css/animate.min.css" type="text/css">
    <link rel="stylesheet" href="/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/vendor/simple-line-icons/css/simple-line-icons.css">
    <link rel="stylesheet" href="/vendor/device-mockups/device-mockups.min.css">

    <!-- Custom CSS
    <link rel="stylesheet" href="css/main.css" type="text/css"> -->
    <link href="/css/main.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="alternate" type="application/rss+xml" title="Pass the SALT 2019 RSS" href="/feed.xml">

    <style>
     .en:lang(en), .fr:lang(fr){
     font-weight: bold;
     }
    </style>

</head>
