<section id="news" class="download bg-primary text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="section-heading">Nouvelles :</h2>
                  <ul>
                    {% assign posts=site.posts | where:"lang", page.lang %} 
                    {% for post in posts limit: 10 %}
                       <li><a style="color:orange" href="{{ post.url }}">{{ post.title }}</a> - {% assign m = post.date | date: "%-m" %}{{ post.date | date: "%-d" }} {% case m %}{% when '1' %}janvier{% when '2' %}f&eacute;vrier{% when '3' %}mars{% when '4' %}avril{% when '5' %}mai{% when '6' %}juin{% when '7' %}juillet{% when '8' %}aout{% when '9' %}septembre{% when '10' %}octobre{% when '11' %}novembre{% when '12' %}d&eacute;cembre{% endcase %} {{ post.date | date: "%Y" }}</li>
                    {% endfor %}
                  </ul>
                <br>
                <h2 class="section-heading">Agenda :</h2>
                <p>Pass the SALT 2018 est actuellement &agrave; <span style="color:orange"><b>l'&eacute;tape suivante</b></span> :</p>
                <p>
                    Annonce : lancement de Pass the SALT</b><br />
                    23 janvier 2018 : ouverture de l'appel &agrave; conf&eacute;rences<br /> 
                    31 mars 2018 : fermeture de l'appel &agrave; conf&eacute;rences<br /> 
                    15 avril 2018 : notification des conf&eacute;renciers et conf&eacute;renci&egrave;res<br /> 
                    30 avril 2018 : publication du programme<br /> 
                    16 mai 2018 : mise en ligne de l'interface de r&eacute;servation<br>(l'entr&eacute;e sera gratuite mais la capacit&eacute; de la salle &eacute;tant limit&eacute;e, la r&eacute;servation est requise).<br /> 
                    <span style="color:orange"><b>2-4 juillet 2018 : la conf&eacute;rence :-)</b></span><<br /> 
                </p>
<!--                    <a class="badge-link" href="#"><img src="/img/google-play-badge.svg" alt=""></a>
                    <a class="badge-link" href="#"><img src="/img/app-store-badge.svg" alt=""></a> -->
                </div>
            </div>
        </div>
    </div>
</section>
