<!--
<section id="portfolio" class="download bg-primary text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="section-heading">Our best products! <i style="color:#21cddb" class="fa fa-globe"></i></h2>
                <p>Try our amazing products</p>
                <hr>
                {% if site.data-ad-client %}
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <ins class="adsbygoogle"
                    style="display:block"
                    data-ad-client="{{ site.data-ad-client }}"
                    data-ad-slot="{{ site.data-ad-slot }}"
                    data-ad-format="auto"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
                {% endif %}
            </div>
        </div>
    </div>
</section>
-->
<section id="portfolio" class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="/img/portfolio/1.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                De brillants.es conf&eacute;renciers.&egrave;res sur sc&egrave;ne
                            </div>
                            <div class="project-name">
                                
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="/img/portfolio/2.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                et des salles pleines de participant.e.s concentr&eacute;.e.s
                            </div>
                            <div class="project-name">
                                
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="/img/portfolio/3.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Venez &eacute;changer directement avec des d&eacute;veloppeurs de grands projets libres !
                            </div>
                            <div class="project-name">
                                
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="/img/portfolio/4.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                ou profitez juste du moment avec de nouveaux ami.e.s :-)
                            </div>
                            <div class="project-name">
                                
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="/img/portfolio/5.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Des participant.e.s &agrave; l'humeur souvent ludique ...
                            </div>
                            <div class="project-name">
                                
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="/img/portfolio/6.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                ... en g&eacute;n&eacute;ral bien accueillie par des conf&eacute;renciers.i&egrave;res tr&egrave;s ouvert.e.s d'esprit !
                            </div>
                            <div class="project-name">
                                
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
