<section id="practical" class="download bg-primary text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="section-heading">Informations pratiques</h2>
                <h3><b>Dates de la conf&eacute;rence</b></h3>
                <p>
                    <span style="color:orange; ">D&eacute;but de la conf&eacute;rence :</span> lundi 2 juillet &agrave; 14h00<br />
                    <span style="color:orange; ">Fin de la conf&eacute;rence :</span> mercredi 4 juillet &agrave; 17h30<br />
                </p>
                <h3><b>Lieu de la conf&eacute;rence</b></h3>
                <p>
                    Lieu : <a href="http://www.polytech-lille.fr/" style="color:orange;text-decoration: underline;">&eacute;cole d'ing&eacute;nieurs Polytech Lille</a><br />
                    Adresse: Avenue Paul Langevin <br> 59655 Villeneuve d'Ascq<br />
                    Plan : <a href="https://osm.org/go/0B1fyc2nJ-" style="color:orange;text-decoration: underline;">Openstreetmap</a> / <a href="https://goo.gl/maps/FusMa2F2GoP2" style="color:orange;text-decoration: underline;">Google Maps</a><br />
                </p>

                <h3><b>Aller de Lille &agrave; la conf&eacute;rence</b></h3>
        <p>Polytech est &agrave; <span style="color:orange; ">environ 20 min du centre de Lille</span> en prenant <span style="color:orange; ">la ligne 1 du m&eacute;tro (direction et arr&ecirc;t "4 Cantons Stade Pierre Mauroy")</span>. 
        <br>Les derniers mètres ne sont pas compliqués : au rond point à côté de l'arrêt de métro, l'école de Polytech Lille est indiquée, suivez juste les panneaux.
        <br>Le centre de Lille ou le quartier du "Vieux Lille" dans le nord de la ville sont de bons endroits pour vous loger tant par leur qualit&eacute; architecturale que par la qualit&eacute; des restaurants et des bars ;-)</p>

                <h3><b><u>Venir &agrave; Lille depuis Paris ou Bruxelles</u></b></h3>
                <p>Important: il est &agrave; noter que <span style="color:orange; ">les trains cit&eacute;s ci-dessous n&eacute;cessitent une r&eacute;servation</span>, pensez &agrave; r&eacute;server votre billet &agrave; l'avance !
                <br>R&eacute;servation de trains en Belgique: <a href="https://www.b-europe.com/FR" style="color:orange;text-decoration: underline;">https://www.b-europe.com/FR</a>
                <br>R&eacute;servation de trains en France : <a href="https://oui.sncf/" style="color:orange;text-decoration: underline;">https://oui.sncf/</a>
                <h3><b>depuis Paris, Gare du Nord</b></h3>
                     <p>prendre un TGV pour la gare de Lille Europe ou Lille Flandres : 1 heure.</p>
                <h3><b>depuis l'a&eacute;roport Paris Roissy Charles de Gaulle (CDG)</b></h3>
                    <p>prendre un TGV &agrave; la gare Charles de Gaulle 2 dans l'a&eacute;roport : 50 min.</p>
                <h3><b>depuis l'a&eacute;roport de Bruxelles National (BRU) </b></h3> 
                <p>prendre un train pour rejoindre la gare de Bruxelles Midi (30-40 min) puis ...</p>
                <h3><b>depuis la gare de la gare de Bruxelles Midi</b></h3>
                <p>prendre un TGV ou Thalys ou Eurostar &agrave; destination de la gare de Lille Europe : 35 min</p>


<!--                    <a class="badge-link" href="#"><img src="/img/google-play-badge.svg" alt=""></a>
                    <a class="badge-link" href="#"><img src="/img/app-store-badge.svg" alt=""></a> -->
        <br>            

        </div>
    </div>
    </section>