<section id="practical" class="download bg-primary text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="section-heading">Practical information</h2>
                <h3><b>Conference dates</b></h3>
                <p><span style="color:orange; ">conference start:</span> Monday July, 1nd 2019 2:00PM<br />
                <span style="color:orange; ">conference end:</span> Wednesday July, 3th 2019 5:00PM<br /></p>
                <h3><b>Conference venue</b></h3>
                <p>venue: <a href="http://www.polytech-lille.fr/english-p4664.html" style="color:orange;text-decoration: underline;">Polytech Lille engineer school</a><br />
                address: Avenue Paul Langevin <br> 59655 Villeneuve d'Ascq<br />
                map: <a href="https://osm.org/go/0B1fyc2nJ-" style="color:orange;text-decoration: underline;">Openstreetmap</a> / <a href="https://goo.gl/maps/FusMa2F2GoP2" style="color:orange;text-decoration: underline;">Google Maps</a><br /></p>

                <h3><b>Lille <--> conference venue</b></h3>
        <p>Polytech is <span style="color:orange; ">~20 min away from the center of Lille</span> using the <span style="color:orange; ">metro line 1 ("4 Cantons Stade Pierre Mauroy" stop)</span>.
        <br>The last meters are the easy part. On the roundabout near the metro stop, the direction to Polytech school (conference location) is indicated, just follow the "Polytech Lille" on the traffic signs.
        <br>The center of Lille or the "Vieux Lille" district in the North are quiet good areas for your hotel due to the beauty of these districts and the quality of the restaurants and bars available there ;-)</p>

                <h3><b><u>Coming to Lille from Paris or Brussels</u></b></h3>
                <p>Important: note that <span style="color:orange; ">these trains require reservation</span>, book your ticket ahead of time!
                <br>To book trains in Belgium : <a href="https://www.b-europe.com/EN" style="color:orange;text-decoration: underline;">https://www.b-europe.com/EN</a>
                <br>To book trains in France : <a href="https://en.oui.sncf/en/" style="color:orange;text-decoration: underline;">https://en.oui.sncf/en/</a>
                <h3><b>from Paris, Gare du Nord train Station</b></h3>
                     <p>take TGV train to Lille Europe or Lille Flandres stations : 1 hour</p>
                <h3><b>from Paris Roissy Charles de Gaulle airport (CDG)</b></h3>
                    <p>take TGV train at Charles de Gaulle 2 train station inside the airport<br> to Lille Europe station : 50 min.</p>
                <h3><b>from Brussels National airport (BRU)</b></h3>
                <p>use a national train to reach Brussels Midi station (30-40 min) - note: sometimes the signs only mention Zuidstation which means Brussels Midi station in Dutch! - and then ...</p>
                <h3><b>from Brussels Midi train station</b></h3>
                <p>take a TGV or Thalys or Eurostar train to Lille Europe station : 35 min</p>
<!--                    <a class="badge-link" href="#"><img src="/img/google-play-badge.svg" alt=""></a>
                    <a class="badge-link" href="#"><img src="/img/app-store-badge.svg" alt=""></a> -->
        <br>

        </div>
    </div>
    </section>
